<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ package.name }}</title>
</head>
<body>

<h3> PACKAGE NAME: </h3>
<p>{{ package.name }}</p>

<h3> DESCRIPTION: </h3>
    <pre>{{ package.description }}</pre>

<h3> DEPENDENCIES: </h3>
<ul>
{% for dep_pack in depends %}
    <li>
        <a href="{% url 'package_finder:detail' dep_pack.dependant.id %}">
        {{ dep_pack.dependant.name }}</a>
    </li>
{% endfor %}

{% for alter_dep_pack in alter_depends %}
    <li>{{ alter_dep_pack.name }}</li>
{% endfor %}
</ul>

</body>
</html>