<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Installed Packages</title>
</head>
<body>
<ul>

  {% for package in packages_list %}
  <li>
      <a href="{% url 'package_finder:detail' package.id %}">{{ package.name }}
      </a>
  </li>
  {% endfor %}

</ul>
</body>
</html>